body {
  background-color: #d8d9cf;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 50rem;
  height: 50rem;
}

.clearGrid {
  width: 50rem;
  height: 50rem;
}

.containerSmall {
  margin-top: 4rem;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, 40px);
}

.containerMed {
  margin-top: 4rem;
  overflow: hidden;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, 20px);
}
.containerLarge {
  overflow: hidden;
  margin-top: 4rem;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(60, 1fr);
}
.containerExtraLarge {
  overflow: hidden;
  margin-top: 4rem;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, 10px);
}

.containerSuperLarge {
  overflow: hidden;
  margin-top: 4rem;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, 8px);
}

.square {
  border: 1px solid rgb(38, 14, 146);
}

.square:hover {
  background-color: black;
}

.fill {
  background-color: black;
}

.remove,
.black,
.random {
  margin-top: 2rem;
  padding: 5px 15px;
  background-color: cadetblue;
  cursor: pointer;
}

.black:focus {
  background-color: red;
}
.random:focus{
  background-color: blue;
}